:host {
        height: 100%;
        display: block;
        ::ng-deep {
                mat-card-header {
                        width: 100%;
                        margin: 0;
                        .search_field {
                                input { 
                                        width: 100%;
                                        mat-icon {
                                                margin-left: auto;
                                        }
                                }
                        }
                        
                }
                .gg-card {
                        image {
                                min-height: 75px !important;
                                min-width: 75px !important;
                                width: 75px !important;
                                height: 75px !important;
                        }
                }
                mat-toggle {
                        mat-toggle-button {
                                mat-button-toggle-label-content {
                                        padding: 0;
                                }
                        }
                }
        }
}